

header{
    background: rgba(0, 0, 0, 0.55);
    background-image: url(src/assets/Headerimage.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    width: 70%;
    height: 100px;
    margin: 10px 192px;
    border-radius: 0 40px 0 40px;
}

